<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Guelt HUB</title>
  </head>
  <body>
    

    <nav style = "background-color: #183620 !important;" class="navbar navbar-light bg-light">
        <div class="container">
          <span  style="color:whitesmoke" class="navbar-brand mb-0 h1"><h1>BANK</h1> </span>
         <img width="230" height="100" src="{% static 'images/BITEAM.png' %}"  sizes="(max-width: 1380px) 100vw, 1380px"> </div>
    </nav>
 
    <div class="container">
        <!--<h1>Cadastro de Usuários</h1> -->
        <!--#Nome<input type="text"> -->
        <!--Idade<input type="text"> -->
        <!--<button>Enviar</button> -->
        
        <!-- LINK DO DASH DE CAPTAÇÃO -->
        <br>
        
        <iframe title="ReceitaMensalEstOficial" width="1400" height="800" src="https://app.powerbi.com/reportEmbed?reportId=8d325d3a-c5ed-4969-91da-656d3bc251e7&autoAuth=true&ctid=7b3dcd90-9c8b-475f-9e7d-5955598fff51" frameborder="0" allowFullScreen="true"></iframe>     
        <!--<iframe title="Guelt HUB" width="1400" height="800" src="https://app.powerbi.com/reportEmbed?reportId=4a80d376-099d-4c23-9764-ab2286349554&autoAuth=true&ctid=7b3dcd90-9c8b-475f-9e7d-5955598fff51" frameborder="0" allowFullScreen="true"></iframe> -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

  
  </body>
</html>
